###############################################################################
# Copyright (c) 2017.  All rights reserved. 
# Mike Klusman IS PROVIDING THIS DESIGN, CODE, OR INFORMATION "AS IS" AS A 
# COURTESY TO YOU.  BY PROVIDING THIS DESIGN, CODE, OR INFORMATION AS 
# ONE POSSIBLE IMPLEMENTATION OF THIS FEATURE, APPLICATION OR 
# STANDARD, Mike Klusman IS MAKING NO REPRESENTATION THAT THIS IMPLEMENTATION 
# IS FREE FROM ANY CLAIMS OF INFRINGEMENT, AND YOU ARE RESPONSIBLE 
# FOR OBTAINING ANY RIGHTS YOU MAY REQUIRE FOR YOUR IMPLEMENTATION. 
# Mike Klusman EXPRESSLY DISCLAIMS ANY WARRANTY WHATSOEVER WITH RESPECT TO 
# THE ADEQUACY OF THE IMPLEMENTATION, INCLUDING BUT NOT LIMITED TO 
# ANY WARRANTIES OR REPRESENTATIONS THAT THIS IMPLEMENTATION IS FREE 
# FROM CLAIMS OF INFRINGEMENT, IMPLIED WARRANTIES OF MERCHANTABILITY 
# AND FITNESS FOR A PARTICULAR PURPOSE. 
###############################################################################
# Define Palette
# -------------------------
DULL:0
BRIGHT:1
UNDERLINE:4
BLINK:5

FG_BLACK:30
FG_RED:31
FG_GREEN:32
FG_YELLOW:33
FG_BLUE:34
FG_VIOLET:35
FG_MAGENTA:${FG_VIOLET}
FG_CYAN:36
FG_WHITE:37

FG_NULL:00

BG_BLACK:40
BG_RED:41
BG_GREEN:42
BG_YELLOW:43
BG_BLUE:44
BG_VIOLET:45
BG_MAGENTA:${BG_VIOLET}
BG_CYAN:46
BG_WHITE:47

BG_NULL:${FG_NULL}
