###############################################################################
# Copyright (c) 2017.  All rights reserved. 
# Mike Klusman IS PROVIDING THIS DESIGN, CODE, OR INFORMATION "AS IS" AS A 
# COURTESY TO YOU.  BY PROVIDING THIS DESIGN, CODE, OR INFORMATION AS 
# ONE POSSIBLE IMPLEMENTATION OF THIS FEATURE, APPLICATION OR 
# STANDARD, Mike Klusman IS MAKING NO REPRESENTATION THAT THIS IMPLEMENTATION 
# IS FREE FROM ANY CLAIMS OF INFRINGEMENT, AND YOU ARE RESPONSIBLE 
# FOR OBTAINING ANY RIGHTS YOU MAY REQUIRE FOR YOUR IMPLEMENTATION. 
# Mike Klusman EXPRESSLY DISCLAIMS ANY WARRANTY WHATSOEVER WITH RESPECT TO 
# THE ADEQUACY OF THE IMPLEMENTATION, INCLUDING BUT NOT LIMITED TO 
# ANY WARRANTIES OR REPRESENTATIONS THAT THIS IMPLEMENTATION IS FREE 
# FROM CLAIMS OF INFRINGEMENT, IMPLIED WARRANTIES OF MERCHANTABILITY 
# AND FITNESS FOR A PARTICULAR PURPOSE. 
###############################################################################

# Global Error Definitions
# -----------------------------
HELP:253

NOT_EXECUTABLE:3
NO_EXECUTABLE_IN_PATH:4
WRONG_NUMBER_ARGS:5
FUNCTION_NOT_FOUND:6

NO_LETTER_AVAILABLE:17
NO_MACHINE_SPECIFICATIONS:18

BAD_USER_ID:33
PLATFORM_ERROR:43

CANNOT_MAKE_DIRECTORY:65
DIRECTORY_NOT_FOUND:66
FILE_NOT_FOUND:67
UNKNOWN_PARAMETERS:68
FILE_ALREADY_EXISTS:69
NO_WINDOWS_DRIVEMAP:70
CANNOT_REMOVE_DIRECTORY:71
COPY_PROBLEM:72

NON_NUMERIC_DATA:129
MISSING_OS_DESIGNATION:130
MISSING_FUNCTION:131
